[user]
	name = Phil Batey
	email = pbatey@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/pbatey200/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[push]
	default = simple
[alias]
	undo-add = reset HEAD
	undo-commit = reset --soft HEAD^
	undo-first-add = rm --cached
	undo-first-commit = update-ref -d HEAD
